/* header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 100px;
}
* {
margin: 0;
padding: 0;
}
header .logo img {
    margin: 0px 0px 0px 60px;
    width: 75px;
    height: 75px;
}
header nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header nav a{
    text-decoration: none;
}

.wrapper{
    width: 67%;
    margin: auto;
    
}
/* banner */
.banner{
    background-image: url("../img/banner.jpg");
    width:100%;
    height: 250px;
    margin: 0px 0px 50px 0px;
}
/* overzicht */
.introductie{
    text-align: center;
}
.overzicht-huizen{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.overzicht-huis{
    display: flex;
    margin: 0px 0px 20px 0px;
}
.overzicht-huis img{
 width: 300px;
 height: 200px;
}
.overzicht-huis a{
    display: flex;
}

/* detail */
.details-huis{
    display: flex;
    justify-content: center;
}
.details-huis img{
    width: 500px;
    height: 300px;
}
.huis-informatie{
    margin:20px;
}
/* status overview  */

.status-container{
    display: flex;
    justify-content: center;   
}
.status-container table{
    border:1px solid black;
    background-color: gray;
}
.status-container table td{
    text-align: center;
    padding: 10px 10px;
}
.status-container table th{
    padding: 10px 10px;
}
/* filters */
.filters{
    display: flex;
    margin: 0px 0px 50px 0px;
}
/* label  */
.create-formulier label{
    display: block;

}
/* reviews */
.review-form-container .form-group label{
    display: block;
}
.review-form-container{
    border: 1px solid white;
    width: 500px;
    margin: 10px 0px 10px 0px;
    padding:10px 10px 10px 10px;
}
.review-form-container textarea{
    resize: none;
}
/* .overzicht-reviews  */
.overzicht-reviews textarea{
    resize: none;
}
.overzicht-reviews{
    border: 1px solid white;
    width: 500px;
    margin: 10px 0px 10px 0px;
    padding:0px 10px 0px 10px;
}
.reviews{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* login  */
.login-pagina-container{
    display: flex;
    justify-content: center;
}
.login-container{
    border: 1px solid black;
    padding:30px;
    margin-top: 25%;
    
}
.login-container input{
    margin: 5px 0px 5px 0px;
}
.login-container .form-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.login-container .form-button input{
    width: 100px;
}  


